/*@import "compass/css3";
*/
body {
  padding-top:70px;
  padding-bottom:70px
}
.glyphicon-remove:hover {
  cursor:pointer
}

ul.nav a:hover { 
	color: #000000 !important;
	background: #A9AEB0 !important;
}



/* text recolor */
/*h1, p, a {
  color: #4DC9C9 !important;
}*/

/* button recolor */
/*.nav-pills > li.active > a, .btn-primary {
  background-color: #6C6C6C !important;
  // feeling like it's a rounded corners kind of day
  border-color: #6C6C6C !important;
  border-radius: 25px; 
}*/

form {
	margin: 20px 30px;
}

.contactContainer {
	input[type= "text"], textarea {
		margin: 4px 8px;
		border: 2px solid #000;
		padding: 4px;
		color: red;
	}

	textarea {
		width: 100%;
	}

	input[type="submit"] {
		margin: 12px 8px;
		background: grey;
		color: #333;
		text-align: center;
		border: none;
		&:hover{
			background: #666;
			color: white;
		}
	}
}

.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}


