<div class="container" ng-app="tabApp">
  <div class="row" ng-controller="TabController">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{ active: isSet(1) }">
            <a href ng-click="setTab(1)">About</a>
        </li>
        <li ng-class="{ active: isSet(2) }">
            <a href ng-click="setTab(2)">Services</a>
        </li>
        <li ng-class="{ active: isSet(3) }">
            <a href ng-click="setTab(3)">Team</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="jumbotron">
        <div ng-show="isSet(1)">
          <ul class="media-list">
                <li class="media">
                    <div class="media-left media-middle">
                        <a>
                        <img class="media-object img-thumbnail"
                        ng-src="./images/aboutus.gif" alt="About us">
                        </a>
                    </div>
                    <div class="media-body">
                      <h3>About us</h3>
                        <p>Based on our long experience of translation services in a variety of languages
             and specializations, having offered top class services to various clients, we are confident
             that our state-of-the art expertise may be useful for your translation needs</p>
                    </div>
                </li>
            </ul>
          </div>
      <div ng-show="isSet(2)">
        <ul class="media-list">
                <li class="media">
                    <div class="media-left media-middle">
                        <a>
                        <img class="media-object img-thumbnail"
                        ng-src="./images/translation.jpg" alt="Translation">
                        </a>
                    </div>
                    <div class="media-body">
                      <h3>Translation</h3>
                        <p>Written translation of text in a variety of languages in different specializations</p>
                    </div>
                </li>

                <li class="media">
                    <div class="media-left media-middle">
                        <a>
                        <img class="media-object img-thumbnail"
                        ng-src="./images/interpreting.jpg" alt="Interpreting">
                        </a>
                    </div>
                    <div class="media-body">
                      <h3>Interpreting</h3>
                        <p>Oral translation of speeches, meetings and other exchanges in a variety of language. Simultaneos and consecutive interpreting</p>
                    </div>
                </li>

                <li class="media">
                    <div class="media-left media-middle">
                        <a>
                        <img class="media-object img-thumbnail"
                        ng-src="./images/localization.jpg" alt="Localization">
                        </a>
                    </div>
                    <div class="media-body">
                      <h3>Localization</h3>
                        <p>Adaptation of your product (software, system or other) to the specifics of local markets in different countries. International product promotion.</p>
                    </div>
                </li>
            </ul>
      </div>
        <div ng-show="isSet(3)">
          <ul class="media-list">
                <li class="media">
                    <div class="media-left media-middle">
                        <a>
                        <img class="media-object img-thumbnail"
                        ng-src="./images/team.jpg" alt="About us">
                        </a>
                    </div>
                    <div class="media-body">
                      <h3>Our highly qualified translators</h3>
                        <p>A team of highly qualified and dedicated professionals at your service.</p>
                        <p><a href="#/translators_search" class="btn btn-primary btn-lg" role="button" ng-show="currentUser">Search</a></p>
                    </div>
                </li>
            </ul>
      </div>
    </div>
  </div>
</div>