<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Become a translator</h3>
    </div>
    <div class="panel-body">
        <p>
            <strong>Translation</strong> and interpreting (oral translation) is a very demanding skill.
            If you want to become a translator, you have to master not only a few foreign languages, but also
            the culture and civilization of the countries where these languages are spoken.
        </p>
        <p> When you feel you are ready to study translation/interpreting, we suggest you enroll in a translation school which provides specialized training.
        </p>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Machine translation</h3>
    </div>
    <div class="panel-body">
        <p>
            Nowadays, computers are everywhere. They manage the most complex industrial processes, 
            send sattelites to Mars or sequence the human genome. Will they replace translators too?
        </p>
        <p>
            Although such systems as Google Translate can provide a decent translation, this translation will be far from perfect and will need editing. Almighty computers have not yet learned to think
            as a human translator or a human in general. It may happen one day, <strong>but until then we are happy to provide you our services</strong>.
        </p>
    </div>
</div>