<!-- {"where": { "language_combination.source": "French" , "specialization":"legal"} } -->
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Translators search</h4>
        <div class="form-group">
            <input type="text" ng-model="searchSourceLang" class="form-control" />
            <input type="text" ng-model="searchTargetLang" class="form-control" />
            <!-- <input type="text" ng-model="searchSpec" class="form-control" /> -->
            <select name="searchSpec" ng-model="searchSpec">
            	<option value="computer">Computer</option>
				<option value="legal">Legal</option>
				<option value="medical">Medical</option>
				<option value="technical">Technical</option>
			</select>
        </div>
        <a href="#/translators_search_results" class="btn btn-primary">Search</a>
    </div>
</div>