<h1>Our highly qualified translators</h1>
<div class="row row-content" ng-controller="TranslatorsController">
	<ul class="media-list">
        <li class="media" ng-repeat="translator in allTranslators">
           <div class="media-left media-middle">
                <img class="media-object img-thumbnail"
                ng-src="./images/ava1.png" alt="Translator">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">{{translator.firstName}}&nbsp;{{translator.lastName}}</h3>
                 <p ng-repeat="comb in translator.language_combination">{{comb.source}}&nbsp;-&nbsp;{{comb.target}}</p>
                 <p ng-repeat="spec in translator.specialization">{{spec}}</p>
            </div>
           </li>
     <!-- {{allTranslators}} -->
    </ul>
</div>