<h1>Translator contact </h1>
<div class= "contactContainer" data-ng-controller= "ContactController">
    <form name= "contactForm" validation data-ng-submit= "submit(contactform)"
        method = "post" action ="" role= "form">
        <div data-ng-hide= "formError()">
            {{errorMessage}}
        </div>

        <!-- user name -->
        <div class= "row">
            <input type= "text" name= "name" id = "name" data-ng-mode= "contactData.name"
                placeholder= "Full Name" data-ng-minlength= "3" required />
        </div>

        <!-- user email -->
        <div class= "row">
            <input type= "text" name= "email" id= "email" data-ng-mode= "contactData.email"
                placeholder= "name@email.com" data-ng-minlength= "3" required />
        </div>

        <!-- user message -->
        <div class= "row">
            <textarea data-ng-mode= "contactData.message" rows= "4" id = "inputMessage"
                name= "inputMessage" placeholder= "Type your message here..."></textarea>
        </div>

        <div class = "row">
            <!--submit -->
            <input type= "button"  class= "btn btn-default" data-ng-disabled= "submitButtonDisabled"
                data-ng-click = "submit(contactform)" value= "Send"/>
        </div>


</div> <!--end translatorContactContainer -->