<div>
    <div class="media-left media-middle">
        <img class="media-object img-thumbnail" ng-src="./images/{{translator.picture}}" alt="Translator">
    </div>

    <div class="media-body">
        <h3 class="media-heading">{{translator.firstName}}&nbsp;{{translator.lastName}}</h3>
        <h4>Language combination</h4>
        <ul>
             <li ng-repeat="comb in translator.language_combination">from &nbsp;{{comb.source}}&nbsp; to {{comb.target}}</li>
        </ul>
        <h4>Specialization:</h4>
        <ul>
            <li ng-repeat="spec in translator.specialization">{{spec}}</li>
        </ul>
        <h4>Contact:</h4>
        <p><a class="btn btn-social-icon" href="mailto:{{translator.email}}"><i class="fa fa-envelope-o"></i>&nbsp;Send Mail</a></p>
    </div>
    <hr>
</div>